<title>Salesforce Lighnting Out on Heroku</title>
<script src="https://head-in-the-clouds-developer-edition.ap5.force.com/lightning/lightning.out.js"></script> <!-- Replace with own Community URL -->
