<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>

        <!-- Lightning DOM Tag -->
        <div id="lightningLocator" class="lightningLocator"></div>

        <% include ../partials/lightning-out.ejs %>
    </body>
</html>
